@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de contatos";
}

<div class="text-center">
      
    <h1 class="display-4">Listagem de Contatos</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-primary" role="button" asp-controller="Contato" asp-action="Criar">Adcionar novo contato</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Contato</th>
                <th scope="col">Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(ContatoModel dados in Model)
                {
                    <tr>
                        <th scope="row">@dados.Id</th>
                        <td>@dados.Name</td>
                        <td>@dados.Email</td>
                        <td>@dados.Celular</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary" role="button" asp-controller="Contato" asp-route-id="@dados.Id" asp-action="EditarConfirmacao">Editar</a>
                                <a role="button" class="btn btn-danger" asp-controller="Contato" asp-route-id="@dados.Id" asp-action="DeletarConfirmacao">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


